/* ========== Editor Themes Plugin ==========*/
/*            Auto Generated Code            */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*v0.67*/

.TabWindowBackground
{
	background-color: rgba(19, 19, 19, 1);
}

.ScrollViewAlt
{
	background-color: rgba(19, 19, 19, 1);
}

.label
{
	background-color: rgba(19, 19, 19, 1);
}

.ProjectBrowserTopBarBg
{
	background-color: rgba(19, 19, 19, 1);
}

.ProjectBrowserBottomBarBg
{
	background-color: rgba(19, 19, 19, 1);
}

.dockHeader
{
	background-color: rgba(0, 0, 0, 1);
}

.TV LineBold
{
	background-color: rgba(0, 0, 0, 1);
}

.ToolbarDropDownToogleRight
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarDropDownToogleRight:hover
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.ToolbarDropDownToogleRight:focus
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.ToolbarDropDownToogleRight:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarDropDownToogleRight:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarPopupLeft
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarPopupLeft:hover
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.ToolbarPopupLeft:focus
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.ToolbarPopupLeft:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarPopupLeft:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarPopup
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarPopup:hover
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.ToolbarPopup:focus
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.ToolbarPopup:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ToolbarPopup:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbutton
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbutton:hover
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.toolbarbutton:focus
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.toolbarbutton:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbutton:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.PreToolbar
{
	background-color: rgba(0, 0, 0, 1);
}

.AppToolbar
{
	background-color: rgba(0, 0, 0, 1);
}

.GameViewBackground
{
	background-color: rgba(0, 0, 0, 1);
}

.CN EntryInfoSmall
{
	background-color: rgba(0, 0, 0, 1);
}

.Toolbar
{
	background-color: rgba(0, 0, 0, 1);
}

.toolbarbutton
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbutton:hover
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.toolbarbutton:focus
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.toolbarbutton:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbutton:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbuttonRight
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbuttonRight:hover
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.toolbarbuttonRight:focus
{
	background-color: rgba(36, 36, 36, 1);
	-unity-background-image-tint-color: rgba(36, 36, 36, 1);
	border-top-color: rgba(36, 36, 36, 1);
	border-right-color: rgba(36, 36, 36, 1);
	border-bottom-color: rgba(36, 36, 36, 1);
	border-left-color: rgba(36, 36, 36, 1);
}

.toolbarbuttonRight:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.toolbarbuttonRight:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.ProjectBrowserIconAreaBg
{
	background-color: rgba(0, 0, 0, 1);
}

.dragtab-label
{
	background-color: rgba(38, 38, 38, 0.5529412);
}

.AppCommandLeft
{
	background-color: rgba(41, 41, 41, 1);
}

.AppCommandMid
{
	background-color: rgba(41, 41, 41, 1);
}

.AppCommand
{
	background-color: rgba(41, 41, 41, 1);
}

.AppToolbarButtonLeft
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.AppToolbarButtonLeft:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.AppToolbarButtonLeft:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.AppToolbarButtonLeft:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.AppToolbarButtonLeft:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.AppToolbarButtonRight
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.AppToolbarButtonRight:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.AppToolbarButtonRight:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.AppToolbarButtonRight:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.AppToolbarButtonRight:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.DropDown
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.DropDown:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.DropDown:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.DropDown:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.DropDown:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

Button
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.Button:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.Button:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.Button:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.Button:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-button
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-button:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-button:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-button:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-button:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-base-popup-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-popup-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-popup-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-popup-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-popup-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-popup-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-enum-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-enum-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-enum-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-enum-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-enum-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-object-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__selector
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-object-field__selector:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__selector:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__selector:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__selector:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.SceneTopBarBg
{
	background-color: rgba(43, 43, 43, 1);
}

.MiniPopup
{
	background-color: rgba(43, 43, 43, 1);
	-unity-background-image-tint-color: rgba(43, 43, 43, 1);
	border-top-color: rgba(43, 43, 43, 1);
	border-right-color: rgba(43, 43, 43, 1);
	border-bottom-color: rgba(43, 43, 43, 1);
	border-left-color: rgba(43, 43, 43, 1);
}

.MiniPopup:hover
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.MiniPopup:focus
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.MiniPopup:active
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.MiniPopup:checked
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.TV Selection
{
	background-color: rgba(43, 43, 43, 1);
}

.ExposablePopupMenu
{
	background-color: rgba(43, 43, 43, 1);
	-unity-background-image-tint-color: rgba(43, 43, 43, 1);
	border-top-color: rgba(43, 43, 43, 1);
	border-right-color: rgba(43, 43, 43, 1);
	border-bottom-color: rgba(43, 43, 43, 1);
	border-left-color: rgba(43, 43, 43, 1);
}

.ExposablePopupMenu:hover
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.ExposablePopupMenu:focus
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.ExposablePopupMenu:active
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.ExposablePopupMenu:checked
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.minibutton
{
	background-color: rgba(43, 43, 43, 1);
	-unity-background-image-tint-color: rgba(43, 43, 43, 1);
	border-top-color: rgba(43, 43, 43, 1);
	border-right-color: rgba(43, 43, 43, 1);
	border-bottom-color: rgba(43, 43, 43, 1);
	border-left-color: rgba(43, 43, 43, 1);
}

.minibutton:hover
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.minibutton:focus
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.minibutton:active
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.minibutton:checked
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.ToolbarSearchTextField
{
	background-color: rgba(43, 43, 43, 1);
}

.unity-base-field__input
{
	background-color: rgba(43, 43, 43, 1);
	-unity-background-image-tint-color: rgba(43, 43, 43, 1);
	border-top-color: rgba(43, 43, 43, 1);
	border-right-color: rgba(43, 43, 43, 1);
	border-bottom-color: rgba(43, 43, 43, 1);
	border-left-color: rgba(43, 43, 43, 1);
}

.unity-base-field__input:hover
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.unity-base-field__input:focus
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.unity-base-field__input:active
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.unity-base-field__input:checked
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.unity-search-field__search-button
{
	background-color: rgba(43, 43, 43, 1);
	-unity-background-image-tint-color: rgba(43, 43, 43, 1);
	border-top-color: rgba(43, 43, 43, 1);
	border-right-color: rgba(43, 43, 43, 1);
	border-bottom-color: rgba(43, 43, 43, 1);
	border-left-color: rgba(43, 43, 43, 1);
}

.unity-search-field__search-button:hover
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.unity-search-field__search-button:focus
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.unity-search-field__search-button:active
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.unity-search-field__search-button:checked
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.unity-search-field__cancel-button
{
	background-color: rgba(43, 43, 43, 1);
	-unity-background-image-tint-color: rgba(43, 43, 43, 1);
	border-top-color: rgba(43, 43, 43, 1);
	border-right-color: rgba(43, 43, 43, 1);
	border-bottom-color: rgba(43, 43, 43, 1);
	border-left-color: rgba(43, 43, 43, 1);
}

.unity-search-field__cancel-button:hover
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.unity-search-field__cancel-button:focus
{
	background-color: rgba(79, 79, 79, 1);
	-unity-background-image-tint-color: rgba(79, 79, 79, 1);
	border-top-color: rgba(79, 79, 79, 1);
	border-right-color: rgba(79, 79, 79, 1);
	border-bottom-color: rgba(79, 79, 79, 1);
	border-left-color: rgba(79, 79, 79, 1);
}

.unity-search-field__cancel-button:active
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

.unity-search-field__cancel-button:checked
{
	background-color: rgba(3, 3, 3, 1);
	-unity-background-image-tint-color: rgba(3, 3, 3, 1);
	border-top-color: rgba(3, 3, 3, 1);
	border-right-color: rgba(3, 3, 3, 1);
	border-bottom-color: rgba(3, 3, 3, 1);
	border-left-color: rgba(3, 3, 3, 1);
}

/* Supplemental UI Toolkit controls */

Button
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.Button:hover
{
	background-color: rgba(82, 82, 82, 1);
	-unity-background-image-tint-color: rgba(82, 82, 82, 1);
	border-top-color: rgba(82, 82, 82, 1);
	border-right-color: rgba(82, 82, 82, 1);
	border-bottom-color: rgba(82, 82, 82, 1);
	border-left-color: rgba(82, 82, 82, 1);
}

.Button:focus
{
	background-color: rgba(82, 82, 82, 1);
	-unity-background-image-tint-color: rgba(82, 82, 82, 1);
	border-top-color: rgba(82, 82, 82, 1);
	border-right-color: rgba(82, 82, 82, 1);
	border-bottom-color: rgba(82, 82, 82, 1);
	border-left-color: rgba(82, 82, 82, 1);
}

.Button:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.Button:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-button
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-button:hover
{
	background-color: rgba(82, 82, 82, 1);
	-unity-background-image-tint-color: rgba(82, 82, 82, 1);
	border-top-color: rgba(82, 82, 82, 1);
	border-right-color: rgba(82, 82, 82, 1);
	border-bottom-color: rgba(82, 82, 82, 1);
	border-left-color: rgba(82, 82, 82, 1);
}

.unity-button:focus
{
	background-color: rgba(82, 82, 82, 1);
	-unity-background-image-tint-color: rgba(82, 82, 82, 1);
	border-top-color: rgba(82, 82, 82, 1);
	border-right-color: rgba(82, 82, 82, 1);
	border-bottom-color: rgba(82, 82, 82, 1);
	border-left-color: rgba(82, 82, 82, 1);
}

.unity-button:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-button:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-base-popup-field:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-base-popup-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-popup-field
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-popup-field:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-popup-field:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-popup-field:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-popup-field:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-popup-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-popup-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-popup-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-popup-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-popup-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-dropdown-field
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-dropdown-field:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-dropdown-field:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-dropdown-field:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-dropdown-field:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-dropdown-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-dropdown-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-dropdown-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-dropdown-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-dropdown-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-enum-field
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-enum-field:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-enum-field:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-enum-field:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-enum-field:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-enum-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-enum-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-enum-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-enum-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-enum-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-object-field:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-object-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__selector
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-object-field__selector:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__selector:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-object-field__selector:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-object-field__selector:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-base-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field .unity-base-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-base-popup-field .unity-base-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field .unity-base-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-base-popup-field .unity-base-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-base-popup-field .unity-base-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-property-field .unity-base-popup-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-property-field .unity-base-popup-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-property-field .unity-base-popup-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-property-field .unity-base-popup-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-property-field .unity-base-popup-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-property-field .unity-enum-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-property-field .unity-enum-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-property-field .unity-enum-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-property-field .unity-enum-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-property-field .unity-enum-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-property-field .unity-object-field__input
{
	background-color: rgba(41, 41, 41, 1);
	-unity-background-image-tint-color: rgba(41, 41, 41, 1);
	border-top-color: rgba(41, 41, 41, 1);
	border-right-color: rgba(41, 41, 41, 1);
	border-bottom-color: rgba(41, 41, 41, 1);
	border-left-color: rgba(41, 41, 41, 1);
}

.unity-property-field .unity-object-field__input:hover
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-property-field .unity-object-field__input:focus
{
	background-color: rgba(77, 77, 77, 1);
	-unity-background-image-tint-color: rgba(77, 77, 77, 1);
	border-top-color: rgba(77, 77, 77, 1);
	border-right-color: rgba(77, 77, 77, 1);
	border-bottom-color: rgba(77, 77, 77, 1);
	border-left-color: rgba(77, 77, 77, 1);
}

.unity-property-field .unity-object-field__input:active
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}

.unity-property-field .unity-object-field__input:checked
{
	background-color: rgba(0, 0, 0, 1);
	-unity-background-image-tint-color: rgba(0, 0, 0, 1);
	border-top-color: rgba(0, 0, 0, 1);
	border-right-color: rgba(0, 0, 0, 1);
	border-bottom-color: rgba(0, 0, 0, 1);
	border-left-color: rgba(0, 0, 0, 1);
}